/** custom CSS **/

body {
  padding-top: 56px;
  margin-top: 2rem;
}

h1 {
  margin-bottom: 2rem;
}

.btn-primary {
  background-color: #66cccc;
  border-color: #39acac;
}

.btn-primary:hover {
  background-color: #53c6c6;
}

figure > img.img-fluid {
  height: 200px;
}
